@media (max-width: 420px) {
	.offices-div {
		background-size: 300% auto !important;
	}
	.condominiums-div {
		background-size: 300% auto !important;
		background-position: top center !important;
	}
	.restaurants-div {
		background-size: 210% auto !important;
		background-position: top center !important;
	}
	.business-complex-div {
		background-size: 210% auto !important;
		background-position: top center !important;
	}
	.hotels-div {
		background-size: 210% auto !important;
		background-position: top center !important;
	}
	.malls-div {
		background-size: 210% auto !important;
		background-position: top center !important;
	}
	.hospitals-div {
		background-size: 295% auto !important;
		background-position: top center !important;
	}
}
@media (min-width: 420px) {
	.office-div {
		background-size: 200% auto;
	}
}


.offices-div {
	background: url('../../public/off.jpg');
	background-repeat: no-repeat;

}
.condominiums-div {
	background-color: rgba(255,79,129, 0.3 );
	background: url('../../public/condo.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.restaurants-div {
	background: url('../../public/resto.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center !important;
	background-color: rgba(255,217,0, 0.1 );
	color: #ccc !important;
}
.business-complex-div {
	background: url('../../public/busi.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center !important;
	background-color: rgba(52,191,73, 0.3 )
}
.hotels-div {
	background: url('../../public/hotel.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center !important;
	background-color: rgba(52,191,73, 0.3 )
}
.malls-div {
	background: url('../../public/mall.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center !important;
	background-color: rgba(52,191,73, 0.3 );
}
.hospitals-div {
	background: url('../../public/hospital.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center !important;
	background-color: rgba(255,76,76, 0.3 );
}
.professionals-div {
	background-color: rgba(0,167,142, 0.3 )	
}